.gitignore
venv/
flask/
wukong-robot/
dictate/
Recorderjs

*.pyc
__pycache__/
/ispeaking/ispeech/__pycache__/ 

paper/
_speech/

.vscode/
*h5
*model
*base
gcloud_speech_voice_recorder/
socketio-examples/
asrt_speechrecognition/