<!doctype html>
<html lang="en-US">
<!--
 Jinja
-->

<title> Speech</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
    <h1>Speech &nbsp;&nbsp; <img  src="{{ url_for('static', filename = 'logo.png') }}" height="32" width="32" /> </h1>

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
   </script>

   <script type=text/javascript>
    $SCRIPT_ROOT= {{request.script_root|tojson|safe}};
   </script>

   {% block body %}
   {% endblock %}

</div>