<!DOCTYPE html>
<html lang="en-US">
<!-- Jinja2 -->

<title>{% block title %}{% endblock %} - iSpeaking</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
<nav>
    <h1>iSpeaking</h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
        
    </ul>     
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
    {% endfor %}

    <!-- content -->
    {% block content %}{% endblock %}
</section>

<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>

<script type=text/javascript>
    $SCRIPT_ROOT= {{request.script_root|tojson|safe}};
</script>

<!--
<script type=text/javascript src="{{
    url_for('static', filename='recorder.js')}}">
 </script>

<script type=text/javascript src="{{
    url_for('static', filename='record.js')}}">
 </script> 
-->   
    
<div id="footer">        
    <small><center>&copy; Copyright 2019 by <a href="https://www.hsu.edu.hk/hk/">HSU</a></small></center>
</div>


<!--
<div class="container query-form">
    <center>
  <form class="form-row" action="#">
      <label for="query" class="col-sm-2 col-form-label col-form-label-lg">Speak:</label>
      <div class="col-7">
        <input type="text" class="form-control" name="query" id="query" placeholder="{{suggestion}}" required autofocus>    </div>
      &nbsp;
      <button type="submit" class="btn btn-primary mb-2 CHAT"><i class="fas fa-comment"></i> send</button>
  </form>
  </center>
  </div>
  
  <ul id="recorder" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
        <li class="mfb-component__wrap">
          <a href="#" id="record" class="mfb-component__button--main">
            <i class="mfb-component__main-icon--resting fa fa-microphone"></i>
            <i class="mfb-component__main-icon--active fa fa-times"></i>
          </a>
          <ul class="mfb-component__list">
            <li>
              <a href="#" id="stop-record" data-mfb-label="Stop" class="mfb-component__button--child">
                <i class="mfb-component__child-icon fas fa-stop"></i>
              </a>
            </li>
            <li>
              <a href="#" id="start-record" data-mfb-label="Start" class="mfb-component__button--child ">
                <i class="mfb-component__child-icon fas fa-circle"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    
      <script src="./static/main.js" crossorigin="anonymous"></script>
      <script src="./static/index.js" crossorigin="anonymous"></script>
      <script src="./static/recorder.min.js"></script>
-->