<!DOCTYPE html>
<html lang="en-US">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Jinja2 -->

<title>iSpeaking </title>  
<link rel="stylesheet" href="{{ static_url("style.css") }}">
     
<section class="content">
        <header>
            {% block header %}{% end %}
        </header>
    
        <!-- content -->
        {% block content %}{% end %}
</section>


<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>


<div id="footer">        
    <small><center>&copy2019 by <a href="https://www.hsu.edu.hk/hk/">HSU</a></small></center>
</div>
